@page
@model WEB_953504_Kozlovski.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notebook</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notebook.NotebookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notebook.NotebookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notebook.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notebook.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notebook.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notebook.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notebook.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notebook.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notebook.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notebook.Brand.BrandId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Notebook.NotebookId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
