@model Notebook

<div class="card m-2 p-1 text-center col-4" style="min-width: 300px">
    <img src="~/Images/@Model.Image" alt='NoImage' class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">
            @Model.NotebookName
        </h5>
        <p class="card-text">
            @Model.Description
        </p>
        <div class="card-text badge badge-secondary">
            <h6>Цена: @Model.Price $</h6>
        </div> @{ // Getting the current address
            var request = ViewContext.HttpContext.Request;
            var returnUrl = request.Path + request.QueryString.ToUriComponent(); }
        <!--Add to cart button markup-->
        <p class="mt-2">
            <a asp-action="Add" asp-controller="Cart" asp-route-id="@Model.NotebookId"
               asp-route-returnUrl="@returnUrl" class="btn btn-primary">
                <i class="fa fa-shopping-cart"></i> В корзину
            </a>
        </p>
    </div>
</div>